*{
    
}
@font-face{
    font-family: 'Ford Folly';
    src: url(Fonts/FordsFollyRg.TTF);
}
.navbar-brand{
    font-family: 'Ford Folly';
    font-size: 30px !important;
    color: #000;
}
.links a{
    text-decoration: none;
    color: black;
    margin: auto;
    margin-left: 30px;
    font-weight: 450;
}
.section2 h4 {
    --a: -45deg; 
    --t: .23em; 
    color: #000; 
    --underline-color: #6839FF; 
    --_s: calc(var(--t) * cos(var(--a)));
    
    background: linear-gradient(var(--a), white var(--_s), var(--underline-color) 0 calc(100% - var(--_s)), white 0) 
                bottom/var(--i, 90%) var(--t) no-repeat;
    
    padding: 0 .45em calc(var(--t) + .1em);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    transition: .3s;
    cursor: pointer;
}
.section2 h4:hover{
 
        --i: 100%;     
}

.slider-button{
    color:#6839FF;
    background-color: white;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
}
.social-icons{
    justify-content: center;
}
.social-icons .fab{
    font-size: 1.5rem;
    color: #0C0254;
    
}

.card-img-top-skills {
    max-width: 170px;
    max-height: 170px;
    filter: grayscale(100%);
    padding: 30px;
}
.fa-star{
    color: #6839FF;
}

